templates/lead-nurture-pipeline/workflows/initial-reachout.json
{
  "id": "TEMPLATE_WORKFLOW_ID",
  "name": "Lead Nurture - Initial Reachout",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR_WEBHOOK_PATH",
        "options": {}
      },
      "id": "92a40d46-7be5-4e79-91be-fea0ec683682",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1008,
        -208
      ],
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "jsCode": "// Extract customer data from GHL webhook\nconst body = $input.item.json.body;\nconst customData = body.customData || {};\nreturn {\n  json: {\n    contact_id: body.contact_id,\n    first_name: customData.first_name,\n    asset_description: customData.asset_description,\n    vehicle: customData.vehicle,\n    services_interested: customData.services_interested,\n    services_interested_check: customData.services_interested_check,\n    desired_packages: customData.desired_packages,\n    additional_info: customData.message_notes,\n  }\n};"
      },
      "id": "1df7809d-4a3d-40f6-a21b-c1eccb9936a0",
      "name": "Parse Customer Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        -208
      ]
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/conversations/{{ $json.conversations[0].id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {}
      },
      "id": "b4f57c30-acdd-472d-9235-6d44d41d5715",
      "name": "Get Conversation History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        -208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GHL_CREDENTIAL_ID",
          "name": "GHL API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format conversation history for GPT-5 (SMS ONLY)\nconst messagesData = $('Get Conversation History').item.json.messages || {};\nconst allMessages = messagesData.messages || [];\nconst customerData = $('Parse Customer Data').item.json;\n\n// Filter to SMS messages only (exclude emails, calls, etc.)\nconst smsMessages = allMessages.filter(msg => \n  msg.messageType === 'TYPE_SMS' || msg.messageType === 'SMS'\n);\n\n// Reverse to chronological order \nconst sortedMessages = [...smsMessages].reverse();\n\n// Format as conversation history with line breaks between messages\nconst conversationHistory = sortedMessages.map(msg => {\n  const role = msg.direction === 'inbound' ? customerData.first_name : '{{YOUR_AI_AGENT_NAME}}';\n  let content = msg.body || '';\n  \n  // Handle attachments (prevents blank messages when customers send images)\n  if (msg.attachments && msg.attachments.length > 0 && !content) {\n    content = '[Customer sent an image]';\n  }\n  \n  return `${role}: ${content}`;\n}).join('\\n\\n');\n\n// Helper function to provide fallback for empty/missing values\nconst notProvided = (value) => value || '(not provided)';\n\nreturn {\n  json: {\n    conversation_history: conversationHistory,\n    contact_id: customerData.contact_id,\n    first_name: notProvided(customerData.first_name),\n    asset_description: notProvided(customerData.asset_description),\n    vehicle: notProvided(customerData.vehicle),\n    services_interested: notProvided(customerData.services),\n    services_interested_check: notProvided(customerData.services_interested_check),\n    desired_packages: notProvided(customerData.desired_packages),\n    additional_info: notProvided(customerData.additional_info),\n  }\n};"
      },
      "id": "ba9e0719-1e98-4a91-b608-305c8c26cdc1",
      "name": "Format History for GPT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://services.leadconnectorhq.com/contacts/\" + $('Format History for GPT').item.json.contact_id + \"/tags\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"tags\": [\"chatbot handoff\"]\n}",
        "options": {}
      },
      "id": "19fa7a9d-721c-43fe-a675-b33e782914fe",
      "name": "Add Handoff Tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        -240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GHL_CREDENTIAL_ID",
          "name": "GHL API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "SMS"
            },
            {
              "name": "contactId",
              "value": "={{ $('Format History for GPT').item.json.contact_id }}"
            },
            {
              "name": "message",
              "value": "={{ $('Trim Message').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8fffd6dd-d96f-4e55-a39a-039c742bb02d",
      "name": "Send Handoff Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        -240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GHL_CREDENTIAL_ID",
          "name": "GHL API Key"
        }
      }
    },
    {
      "parameters": {
        "content": "Chatbot Flow\n\n1. Webhook receives customer message\n2. Parse customer data from GHL\n3. HTTP GET conversation history\n4. Format history for GPT-5 context\n5. GPT-5 generates response\n   - Can call trigger_handoff function\n6. IF node checks for handoff\n7a. Normal: Send SMS response\n7b. Handoff: Add tag + Send message\n8. Respond to webhook\n",
        "height": 280,
        "width": 308,
        "color": 4
      },
      "id": "7caf5d05-12dc-4427-a532-e74745f9a4e6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -992,
        80
      ]
    },
    {
      "parameters": {
        "content": "## Key Points\n\n✅ All GHL interactions via HTTP\n✅ Full conversation history every time\n✅ GPT-5 can trigger handoff via function\n✅ Explicit routing (IF node)\n✅ 4x cheaper than MCP approach\n\n**Next Steps:**\n1. Add your full system prompt\n2. Configure GHL OAuth credentials\n3. Test with real webhook data",
        "height": 284,
        "width": 320,
        "color": 5
      },
      "id": "a7c5f34f-295e-4d6a-8b92-ee8ce33465d8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        80
      ]
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/conversations/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $json.contact_id }}"
            },
            {
              "name": "locationId",
              "value": "YOUR_LOCATION_ID"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -560,
        -208
      ],
      "id": "1225820b-e68f-45d1-9531-48b06cc92c90",
      "name": "Find Conversation",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GHL_CREDENTIAL_ID",
          "name": "GHL API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Strip ##HANDOFF## marker from LLM response\nconst llmResponse = $input.item.json.text || '';\n\nreturn {\n  json: {\n    ...$input.item.json,\n    text: llmResponse.replace('##HANDOFF##', '').trim()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -240
      ],
      "id": "148b43fe-d08e-4b28-a696-90cc2da2f04f",
      "name": "Trim Message"
    },
    {
      "parameters": {
        "jsCode": "// Get all messages \nconst messages = $input.item.json.messages.messages || [];\n\nif (!messages || messages.length === 0) {\n  return { json: { shouldStop: false, reason: 'no_messages' } };\n}\n\n// Known human userIds from GHL team ({{YOUR_BUSINESS_NAME}})\nconst HUMAN_IDS = [\n  'YOUR_EMPLOYEE_4_USER_ID', // {{YOUR_EMPLOYEE_NAME}}\n  'YOUR_EMPLOYEE_1_USER_ID', // {{YOUR_EMPLOYEE_NAME}} ({{YOUR_DOMAIN}})\n  'YOUR_EMPLOYEE_5_USER_ID', // {{YOUR_EMPLOYEE_NAME}} ({{YOUR_DOMAIN}})\n  'YOUR_EMPLOYEE_6_USER_ID', // {{YOUR_EMPLOYEE_NAME}}\n];\n\n// Check if ANY call exists (inbound or outbound, regular or IVR)\n// The AI agent never makes calls, so any call = human intervention\nconst hasHumanCall = messages.some(msg => \n  msg.messageType === 'TYPE_CALL' || msg.messageType === 'TYPE_IVR_CALL'\n);\n\n// Check if ANY human sent an SMS (must check userId since {{YOUR_AI_AGENT_NAME}} also sends SMS)\nconst hasHumanSMS = messages.some(msg => \n  msg.messageType === 'TYPE_SMS' && \n  msg.direction === 'outbound' &&\n  msg.userId && \n  HUMAN_IDS.includes(msg.userId)\n);\n\nconst shouldStop = hasHumanCall || hasHumanSMS;\n\nlet reason = 'none';\nif (hasHumanCall) reason = 'human_call_detected';\nif (hasHumanSMS) reason = 'human_sms_detected';\nif (hasHumanCall && hasHumanSMS) reason = 'multiple_human_interventions';\n\nreturn { \n  json: { \n    shouldStop,\n    reason,\n    hasHumanCall,\n    hasHumanSMS\n  } \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -208
      ],
      "id": "cb4f039f-d45d-4c18-80d6-2695989c9ab5",
      "name": "Check Human Intervention"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d8aaf1ea-033f-4816-ba7e-1dd9448c709b",
              "leftValue": "={{ $json.shouldStop }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        -208
      ],
      "id": "aa963690-789a-4a64-8d85-0c292d2fe7ea",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "##HANDOFF##",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "08500910-22a9-4ba0-9562-84f519315699"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Handoff"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "000ab6bb-52f6-4498-b895-3980609c1d06",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "##STOP##",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Stop"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1120,
        -16
      ],
      "id": "2b01cbd6-164a-4699-8664-df4fea7e8b61",
      "name": "Check Stop or Handoff"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://services.leadconnectorhq.com/contacts/\" + $('Format History for GPT').item.json.contact_id + \"/tags\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"tags\": [\"chatbot handoff\"]\n}",
        "options": {}
      },
      "id": "f4df35f0-b201-4b4d-a5bf-99ba6157387c",
      "name": "Add Handoff Tag (stop)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        -48
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GHL_CREDENTIAL_ID",
          "name": "GHL API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "SMS"
            },
            {
              "name": "contactId",
              "value": "={{ $('Format History for GPT').item.json.contact_id }}"
            },
            {
              "name": "message",
              "value": "={{ $('Generate Message').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e42425ef-926c-4e56-8c70-cd285ee3d7c7",
      "name": "Message Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GHL_CREDENTIAL_ID",
          "name": "GHL API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://services.leadconnectorhq.com/contacts/\" + $('Parse Customer Data').item.json.contact_id + \"/tags\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"tags\": [\"chatbot handoff\"]\n}",
        "options": {}
      },
      "id": "60de33af-e708-4335-aef9-c215b56491a3",
      "name": "Add Handoff Tag (Human Intervention)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        -304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GHL_CREDENTIAL_ID",
          "name": "GHL API Key"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer name: {{ $('Format History for GPT').item.json.first_name }}\nAsset: {{ $('Format History for GPT').item.json.asset_description }}\nVehicle: {{ $('Format History for GPT').item.json.vehicle }}\nServices Interested: {{ $('Format History for GPT').item.json.services_interested }}\nServices Interested Check: {{ $('Format History for GPT').item.json.services_interested_check }}\nDesired Packages: {{ $('Format History for GPT').item.json.desired_packages }}\nAdditional Info: {{ $('Format History for GPT').item.json.additional_info }}\n\nConversation History:\n\n{{ $('Format History for GPT').item.json.conversation_history }}",
        "messages": {
          "messageValues": [
            {
              "message": "=<role>\nYou are {{YOUR_AI_AGENT_NAME}}, a friendly office assistant for {{YOUR_BUSINESS_NAME}} - a {{YOUR_SERVICES_SUMMARY}} company in {{YOUR_CITY}}. {{YOUR_BUSINESS_NAME}} has {{YOUR_EXPERIENCE_CLAIM}} and prides itself on utilizing the highest quality products and providing excellent customer service.\n\nContext: You reach out after customers submit quote forms with their name, asset details, and service interests. Your job is to hold a quick qualification conversation to gather key context, then hand off to {{YOUR_SALES_REP}} for pricing and scheduling.\n</role>\n\n<business_information>\nShop Location: {{YOUR_BUSINESS_ADDRESS}}\nBusiness Hours: {{YOUR_BUSINESS_HOURS}}\nInstagram: {{YOUR_INSTAGRAM_URL}}\nWebsite: {{YOUR_WEBSITE_URL}}\nServices: Powervehicles/assets, vehicles, and vehicles only (sailvehicles/assets not serviced)\n\nTeam:\n- {{YOUR_SALES_REP}} ({{YOUR_SALES_REP_ROLE}}): Handles quotes, pricing, scheduling, technical service questions, and all sales-related inquiries\n\nSister Company: {{YOUR_SISTER_COMPANY}} - Professional automotive protection specializing in {{service type}}, paint protection film, window tinting, and auto {{service}}. If a customer asks about automotive/vehicle services, mention {{YOUR_SISTER_COMPANY}} and hand off to {{YOUR_SALES_REP}}.\n</business_information>\n\n<service_area_check>\nCRITICAL: Before discussing services, verify customer location.\n\nOn-location service ONLY for: {{YOUR_SERVICE_AREA}}\nOther areas: Shop service only\n\nIf customer mentions an unsupported area → Immediately respond:\n\"We don't offer mobile service for [area name], but you're welcome to bring your vehicle/asset to our shop in {{YOUR_CITY}}. Does that work for you?\"\n\nDo NOT offer to \"come to them\" or \"meet at their location\" outside these service areas.\n</service_area_check>\n\n<examples>\n<!-- These examples show how {{YOUR_AI_AGENT_NAME}} should handle different scenarios.\n     Replace with examples relevant to your business. -->\n\nExample 1 - New Lead (interested, wants info):\nCustomer: \"Hi, I saw your ad and I'm interested in learning more about your services\"\n{{YOUR_AI_AGENT_NAME}}: \"Hey! Thanks for reaching out 😊 I'd love to help! What are you looking to get done? That way I can point you in the right direction.\"\nCustomer: \"I'm interested in your premium package\"\n{{YOUR_AI_AGENT_NAME}}: \"Great choice! Our premium package is one of our most popular options. Would you like me to get you set up with a quote? I just need a few details from you.\"\n\nExample 2 - Handoff scenario:\nCustomer: \"How much would it cost for the full service?\"\n{{YOUR_AI_AGENT_NAME}}: \"Great question! Pricing depends on a few specifics. Let me connect you with {{YOUR_SALES_REP}} who handles all our quotes and scheduling - they'll get you taken care of! ##HANDOFF##\"\n\nExample 3 - Customer not interested:\nCustomer: \"Not interested right now\"\n{{YOUR_AI_AGENT_NAME}}: \"Totally understand! No worries at all. We're here whenever you're ready. Have a great day! 😊 ##NO-REPLY##\"\n</examples>\n\n<conversation_guidelines>\n<length>\nKeep responses short and conversational. Typically 2-3 sentences. Brief, friendly, and natural like texting a friend.\n</length>\n\n<formatting>\n- Plain text default\n- Simple bullet points allowed for package details or service inclusions\n- Everything else forbidden: no bold, italics, headers, code blocks, or em-dashes (use periods/commas instead)\n</formatting>\n\n<response_structure>\n- Always end with an open-ended question (unless handing off)\n- Use their form information naturally in responses\n- Never re-ask for details already provided\n- Avoid em-dashes, use periods or commas to separate thoughts\n</response_structure>\n\n<acknowledgment_style>\nKeep responses substantive. Avoid starting with standalone acknowledgments like \"Got it\", \"Nice\", \"Perfect\", or \"Sounds good\" when you can jump straight to the answer.\n\nAcceptable: \"We can add on an engine winterization\"\nAvoid: \"Got it. We can add on an engine winterization.\"\n</acknowledgment_style>\n\n<tone>\n- Friendly and approachable, but not overly enthusiastic or salesy\n- Let services speak for themselves, no need to describe \"amazing shine\" or \"stunning results\" unless they ask\n- Focus on gathering context and describing services, not selling features (leave that to {{YOUR_SALES_REP}})\n- Professional but casual, like a knowledgeable coworker helping out\n- Confident in service quality without being pushy\n</tone>\n</conversation_guidelines>\n\n<qualification_flow>\n<form_context>\nCustomers submit quote forms with varying completeness. Some have full details (name, asset/vehicle details, service interests, location), others only contain a name. Use whatever information is provided naturally in your conversation.\n</form_context>\n\n<information_gathering>\nPrioritize gathering these details in natural conversation flow (flexibility over rigid order):\n\nPRIORITY ITEMS:\n- Asset/vehicle basics: year, make, model (if not provided in form - even if the make and model is provided, the year is very important so still ask for a year)\n- Location: where they are located (vehicles/assets only, skip for vehicles) \n- Storage: How do they store the vehicle/asset? Trailer or in a slip? (vehicles/assets only)\n- Service interest (if not provided)\n- Asset/vehicle condition: request pictures after understanding service direction - \"Do you have any pictures of your vehicle/asset in its current condition? That will help our team put together the best recommendation for your needs.\" If pictures aren't available, ask them to describe the condition instead (helps determine which {{service}} package - Beginner vs Intermediate vs Expert).\n\nSERVICE AREA MESSAGING: \n- Any area OTHER than {{YOUR_SERVICE_AREA}} → Immediately respond: \"We don't offer mobile service for [area name], but you're welcome to bring your vehicle/asset to our shop for service. Does that work for you?\" (ask this before gathering storage info) \n- {{YOUR_SERVICE_AREA}} → Gather storage info first, then: \n* Slip storage → \"Great! Our team can come right to you at your dock/slip\" \n* Trailer storage → No mention of mobile service (let {{YOUR_SALES_REP}} discuss logistics during handoff)\n\nSAILBOAT EXCLUSION: - If customer mentions unsupported service → Immediately respond: \"We specialize in powervehicles/assets, vehicles, and vehicles. Unfortunately we don't service sailvehicles/assets at this time. Thanks for reaching out!\" Then output ##STOP## \n\nThen naturally gather discovery context through conversation:\n- Usage patterns: how often they use it, where they typically keep it\n- Maintenance frequency: are they interested in ongoing maintenance or one-time service? (for {{service}} services only)\n- Previous experience: have they had professional {{service}} or {{service type}} before?\n- Specific concerns: any particular problem areas (oxidation, mold, staining, etc.)\n\nDon't treat this as a checklist - let the conversation flow naturally based on what they share. Some customers volunteer context freely, others need more gentle discovery.\n\nYou do NOT need:\n- Complete maintenance history or exhaustive condition details\n- Deep exploration of every service option\n- To resolve all uncertainty before handing off\n- Timing/scheduling preferences (hand off to {{YOUR_SALES_REP}} immediately)\n\nKeep it conversational and efficient. Most qualification conversations are 3-5 back-and-forth exchanges, but let the natural flow guide you rather than counting messages.\n</information_gathering>\n\n<when_to_handoff>\nHand off to {{YOUR_SALES_REP}} when:\n1. Customer asks about pricing, scheduling, specific recommendations, or technical details → hand off immediately\n2. Customer inquires about full {{service type}} → gather basic context (asset details, location, storage) then hand off promptly (highest ticket item requiring expert consultation)\n3. You have priority items collected and 1-2 other discovery answers that give {{YOUR_SALES_REP}} enough context to provide tailored guidance\n\nHandoff behavior:\n- Never ask \"Should I connect you with {{YOUR_SALES_REP}}?\" - transition directly to the handoff\n- When customer explicitly requests pricing/scheduling, hand off immediately even if context feels light\n</when_to_handoff>\n</qualification_flow>\n\n<knowledge_boundaries>\n{{YOUR_AI_AGENT_NAME}} CAN answer using the <services_reference>\n<!-- Replace with your own service catalog. Structure example: -->\n\n## {{YOUR_SERVICE_CATEGORY_1}}\n### Service Tier 1 - $XXX\n- Key feature 1\n- Key feature 2\n- Duration: X hours\n\n### Service Tier 2 - $XXX\n- Key feature 1\n- Key feature 2\n- Duration: X hours\n\n## {{YOUR_SERVICE_CATEGORY_2}}\n### Service Tier 1 - $XXX\n- Description\n\n## Membership Program (optional)\n### Monthly Plan - $XX/mo\n- Benefit 1\n- Benefit 2\n\n## Important Notes\n- Add scheduling/logistics notes\n- Add any disclaimers\n</services_reference>"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        768,
        0
      ],
      "id": "ee77f017-595d-471f-8d4c-30fee6c753f5",
      "name": "Generate Message"
    },
    {
      "parameters": {
        "jsCode": "// Calculate business hours context (for handoff timing)\nconst now = new Date().toLocaleString('en-US', { timeZone: 'America/Chicago' });\nconst date = new Date(now);\nconst day = date.getDay();\nconst hour = date.getHours();\nlet timeContext;\nif (day === 0 || day === 6 || (day === 5 && hour >= 17)) {\n  timeContext = \"WEEKEND\";\n} else if (hour >= 17) {\n  timeContext = \"AFTER_HOURS\";\n} else {\n  timeContext = \"BUSINESS_HOURS\";\n}\n\nreturn { timeContext };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        0
      ],
      "id": "42ccb7f8-8f63-4cc0-b6ff-1bdf00cd2ef0",
      "name": "Calculate Business Hours"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5-chat-latest"
        },
        "responsesApiEnabled": false,
        "options": {
          "frequencyPenalty": 0.2,
          "presencePenalty": 0.2,
          "temperature": 0.3,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        768,
        224
      ],
      "id": "3e9629cf-5b41-4d8c-99c7-934359266ef9",
      "name": "GPT-5-Chat",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API Key"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Customer Data": {
      "main": [
        [
          {
            "node": "Find Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation History": {
      "main": [
        [
          {
            "node": "Check Human Intervention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Handoff Tag": {
      "main": [
        [
          {
            "node": "Send Handoff Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format History for GPT": {
      "main": [
        [
          {
            "node": "Calculate Business Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Conversation": {
      "main": [
        [
          {
            "node": "Get Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trim Message": {
      "main": [
        [
          {
            "node": "Add Handoff Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Human Intervention": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Add Handoff Tag (Human Intervention)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format History for GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Stop or Handoff": {
      "main": [
        [
          {
            "node": "Trim Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Handoff Tag (stop)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Message": {
      "main": [
        [
          {
            "node": "Check Stop or Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Business Hours": {
      "main": [
        [
          {
            "node": "Generate Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5-Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "errorWorkflow": ""
  }
}
