templates/lead-nurture-pipeline/workflows/monthly-dispatcher.json
{
  "id": "TEMPLATE_WORKFLOW_ID",
  "name": "Lead Nurture - Monthly Dispatcher",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "25,55 9-17 * * *"
            }
          ]
        }
      },
      "id": "db5cf436-8840-45c2-8dce-a4365226dcf2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Filter Opportunities by Date').item.json.contactId }}/notes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "id": "3c50255e-573a-42f9-9f14-48d33c9b543b",
      "name": "Get Opportunity Notes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GHL_CREDENTIAL_ID",
          "name": "GHL API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5-chat-latest"
        },
        "responsesApiEnabled": false,
        "options": {
          "frequencyPenalty": 0.2,
          "maxTokens": 500,
          "presencePenalty": 0.2,
          "temperature": 0.5,
          "maxRetries": 2
        }
      },
      "id": "0fb1dc5f-7aa3-47d6-b939-0b50db4ec314",
      "name": "GPT-5-Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2768,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/conversations/{{ $json.conversations[0].id }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "TYPE_SMS"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1568,
        0
      ],
      "id": "6b2c4b13-a3f7-4a08-93e7-06273b8092de",
      "name": "Get SMS Messages",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GHL_CREDENTIAL_ID",
          "name": "GHL API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        0
      ],
      "id": "21c290a6-ebeb-4680-9611-4a425160a2a9",
      "name": "Get Contact Data",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GHL_CREDENTIAL_ID",
          "name": "GHL API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Map Custom Fields - Extract and format contact data\nconst customFieldMapping = {\n  'YOUR_TAG_1_ID': 'tag_1',\n  'YOUR_TAG_2_ID': 'vehicle',\n  'YOUR_NOTES_FIELD_ID': 'message',\n  'YOUR_SERVICES_INTERESTED_FIELD_ID': 'services_interested',\n  'YOUR_DESIRED_PACKAGES_FIELD_ID': 'desired_packages',\n  'YOUR_SERVICES_CHECK_FIELD_ID': 'services_interested_check'\n};\n\nconst contact = $json.contact;\nconst opportunity = $('Limit 10').item.json;\n\nconst output = {\n  contact_id: contact.id,\n  opportunity_id: opportunity.id,\n  first_name: contact.firstName || 'unknown' \n};\n\n// Map custom fields - handle both strings and arrays\nif (contact.customFields && Array.isArray(contact.customFields)) {\n  contact.customFields.forEach(field => {\n    const mappedName = customFieldMapping[field.id];\n    if (mappedName && field.value) {\n      // Handle arrays (checkboxes, multi-select)\n      if (Array.isArray(field.value)) {\n        if (field.value.length > 0) {\n          output[mappedName] = field.value.join(', ');\n        }\n      }\n      // Handle strings\n      else if (typeof field.value === 'string' && field.value.trim() !== '') {\n        output[mappedName] = field.value.trim();\n      }\n      // Handle other types (numbers, booleans, etc.)\n      else if (field.value !== null && field.value !== undefined) {\n        output[mappedName] = field.value;\n      }\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "93fb86c9-5761-4c2f-8d9d-bdeb21df9e0d",
      "name": "Gather Customer Data"
    },
    {
      "parameters": {
        "jsCode": "// Field IDs\nconst ENTRY_DATE_FIELD_ID = 'YOUR_ENTRY_DATE_FIELD_ID';\nconst LAST_SENT_FIELD_ID = 'YOUR_LAST_SENT_FIELD_ID';\n\n// UTC timezone calculations\nconst ONE_DAY_MS = 24 * 60 * 60 * 1000;\nconst nowMs = Date.now();\n\n// Calculate today at midnight UTC\nconst todayMidnightUTC = Math.floor(nowMs / ONE_DAY_MS) * ONE_DAY_MS;\n\n// Message days\nconst MESSAGE_DAYS = [30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330, 360];\n\n// Collect opportunities from ALL pages\nconst items = $input.all();\nlet allOpportunities = [];\nfor (const item of items) {\n  const pageOpportunities = item.json.opportunities || [];\n  allOpportunities = allOpportunities.concat(pageOpportunities);\n}\n\n// DEDUPLICATION: Remove duplicate opportunities by ID\nconst uniqueOpportunities = [];\nconst seenIds = new Set();\nfor (const opp of allOpportunities) {\n  if (!seenIds.has(opp.id)) {\n    seenIds.add(opp.id);\n    uniqueOpportunities.push(opp);\n  }\n}\n\n// Filter opportunities\nconst filtered = uniqueOpportunities.filter(opp => {\n  const customFields = opp.customFields || [];\n  \n  // Find entry date\n  const entryField = customFields.find(f => f.id === ENTRY_DATE_FIELD_ID);\n  if (!entryField || !entryField.fieldValueDate) {\n    return false;\n  }\n  \n  // Entry date is midnight UTC (stored by GHL)\n  const entryMidnightUTC = entryField.fieldValueDate;\n  \n  // Calculate days since entry (both are midnight UTC)\n  const daysSinceEntry = Math.floor((todayMidnightUTC - entryMidnightUTC) / ONE_DAY_MS);\n  \n  // Check if today is a message day\n  if (!MESSAGE_DAYS.includes(daysSinceEntry)) {\n    return false;\n  }\n  \n  // Find last sent date\n  const lastSentField = customFields.find(f => f.id === LAST_SENT_FIELD_ID);\n  if (!lastSentField || !lastSentField.fieldValueDate) {\n    return true; // No last sent date, so send message\n  }\n  \n  // Last sent is also midnight UTC\n  const lastSentMidnightUTC = lastSentField.fieldValueDate;\n  \n  // Compare calendar dates (safer than raw timestamp comparison)\n  const lastSentDate = new Date(lastSentMidnightUTC).toISOString().split('T')[0];\n  const todayDate = new Date(todayMidnightUTC).toISOString().split('T')[0];\n  return lastSentDate !== todayDate;\n});\n\n// Single summary log for monitoring\nconsole.log(`Active Nurture Dispatcher: ${filtered.length} messages scheduled (from ${uniqueOpportunities.length} total opportunities)`);\n\n// Return in n8n format\nreturn filtered.map(opp => ({ json: opp }));"
      },
      "id": "72b3e58f-6012-44ef-af73-0177c33d93c0",
      "name": "Filter Opportunities by Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get messages array from API response\nconst messagesData = $input.item.json.messages;\n\n// Handle cases where there are no messages\nif (!messagesData || !messagesData.messages || messagesData.messages.length === 0) {\n  return {\n    json: {\n      formatted_sms_history: \"(No previous conversation history)\"\n    }\n  };\n}\n\n// Get messages array - API returns newest first, we want oldest first\nlet messages = messagesData.messages;\n\n// Limit to 20 most recent messages (take last 20 from the array)\nif (messages.length > 20) {\n  messages = messages.slice(0, 20);\n}\n\n// Reverse to get chronological order (oldest → newest)\nmessages.reverse();\n\n// Format each message\nconst formattedMessages = messages.map(msg => {\n  // Determine sender label\n  const sender = msg.direction === 'outbound' ? 'YOUR_BUSINESS_NAME' : 'CUSTOMER';\n  \n  // Format date - just month, day, year\n  const date = new Date(msg.dateAdded);\n  const month = date.toLocaleString('en-US', { month: 'short' });\n  const day = date.getDate();\n  const year = date.getFullYear();\n  \n  const formattedDate = `[${month} ${day}, ${year}]`;\n  \n  // Return formatted message\n  return `${formattedDate} ${sender}: ${msg.body}`;\n});\n\n// Join with newlines\nconst formatted_sms_history = formattedMessages.join('\\n');\n\nreturn {\n  json: {\n    formatted_sms_history\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        0
      ],
      "id": "c1df413d-a7ed-4aff-85b3-f9890864a2b9",
      "name": "Format Conversation History"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get notes array from API response\nconst notesData = $input.item.json.notes;\n\n// Handle cases where there are no notes\nif (!notesData || notesData.length === 0) {\n  return {\n    json: {\n      formatted_customer_notes: \"(No previous calls or notes)\"\n    }\n  };\n}\n\n// Notes come from API newest first, reverse to chronological order\nconst notes = [...notesData].reverse();\n\n// Format each note - extract only relevant sections\nconst formattedNotes = notes.map(note => {\n  const date = new Date(note.dateAdded);\n  const dateStr = date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' });\n  \n  let noteText = note.bodyText.trim();\n  \n  // Find where unwanted sections start (new clean format)\n  const performanceIndex = noteText.indexOf('📊 PERFORMANCE NOTES');\n  const followupIndex = noteText.indexOf('💬 FOLLOW-UP SMS DRAFT');\n  \n  // Find the earliest cutoff point\n  let cutoffIndex = -1;\n  if (performanceIndex !== -1 && followupIndex !== -1) {\n    cutoffIndex = Math.min(performanceIndex, followupIndex);\n  } else if (performanceIndex !== -1) {\n    cutoffIndex = performanceIndex;\n  } else if (followupIndex !== -1) {\n    cutoffIndex = followupIndex;\n  }\n  \n  // Cut off unwanted sections\n  let filteredText = cutoffIndex !== -1 \n    ? noteText.substring(0, cutoffIndex).trim()\n    : noteText;\n  \n  // Clean up: remove emojis from section headers, keep structure intact\n  filteredText = filteredText\n    .replace(/⛵ SERVICE & CONTEXT/g, 'SERVICE & CONTEXT')\n    .replace(/🚗 VEHICLE & CONTEXT/g, 'VEHICLE & CONTEXT')\n    .replace(/🎯 GOALS & PRIORITIES/g, 'GOALS & PRIORITIES')\n    .replace(/💰 OFFER & PRICING/g, 'OFFER & PRICING')\n    .replace(/➡️ NEXT STEPS/g, 'NEXT STEPS')\n    .replace(/\\n{3,}/g, '\\n\\n') // Collapse excessive newlines\n    .trim();\n  \n  return `${dateStr}\\n${filteredText}`;\n});\n\nconst formatted_customer_notes = formattedNotes.join('\\n\\n');\n\nreturn {\n  json: {\n    formatted_customer_notes\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        0
      ],
      "id": "25ad3975-8802-4f72-b33e-3c19ac8fd0a2",
      "name": "Format Customer Notes"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get all formatted data from previous nodes\nconst customerData = $('Gather Customer Data').item.json;\nconst smsHistory = $('Format Conversation History').item.json.formatted_sms_history;\nconst customerNotes = $('Format Customer Notes').item.json.formatted_customer_notes;\nconst opportunity = $('Filter Opportunities by Date').item.json;\n\n// Get current promo from global variable\nconst currentPromo = $vars.CURRENT_PROMO || null;\n\n// Build customer info section\nconst customerInfoLines = [];\ncustomerInfoLines.push(`Name: ${customerData.first_name || 'Not provided'}`);\n\nif (customerData.asset_description) {\n  customerInfoLines.push(`Asset: ${customerData.asset_description}`);\n}\n\nif (customerData.vehicle) {\n  customerInfoLines.push(`Vehicle: ${customerData.vehicle}`);\n}\n\n// Build service interest section - show both if both exist\nconst serviceInterests = [];\nif (customerData.services_interested_check) {\n  serviceInterests.push(customerData.services_interested_check);\n}\nif (customerData.services_interested) {\n  serviceInterests.push(customerData.services_interested);\n}\nif (serviceInterests.length > 0) {\n  customerInfoLines.push(`Service Interest: ${serviceInterests.join(', ')}`);\n}\n\nif (customerData.desired_packages) {\n  customerInfoLines.push(`Package Interest: ${customerData.desired_packages}`);\n}\n\nif (customerData.notes) {\n  customerInfoLines.push(`Notes: ${customerData.notes}`);\n}\n\nconst customerInfo = customerInfoLines.join('\\n');\n\n// Build user prompt\nconst userPrompt = `Customer Info:\n${customerInfo}\n${currentPromo ? `\\nCurrent Promo:\\n${currentPromo}\\n` : ''}\n${customerNotes !== '(No previous calls or notes)' ? `Customer Notes:\\n${customerNotes}\\n` : 'No previous calls or notes.\\n'}\nConversation History:\n${smsHistory}`;\n\nreturn {\n  json: {\n    chatInput: userPrompt,\n    contact_id: customerData.contact_id,\n    opportunity_id: opportunity.id\n  }\n};"
      },
      "id": "0b1858d9-a8fa-4abf-b136-877f61680864",
      "name": "Build User Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a friendly office assistant reaching out to leads who showed interest months ago but never moved forward. These are cold leads who may barely remember contacting you. Your job is to stay top-of-mind in case their situation changes, not to push for a decision.\n\nGOAL: Send one brief, low-pressure message. Acknowledge time has passed without making it awkward. Ask a simple question about whether their situation has changed.\n\nSTYLE:\n- 1-2 sentences max, like texting a friend\n- Plain text only. No bold, italics, headers, code blocks, or em-dashes (use commas/periods instead)\n\nBEHAVIORS:\n- Vary your approach each month to avoid repetition:\n  * Sometimes reference their original interest directly\n  * Sometimes ask broadly if circumstances have changed\n  * Sometimes mention promos or seasonal triggers when relevant\n- Never quote specific dollar amounts from notes or history\n- Never reference service details, availability, or value propositions\n- If a current promo is provided, mention it naturally (not every message needs one)\n- Output ##NO-REPLY## if they decline\n\nTONE: Very casual and low-pressure. This is a \"just in case\" message, not a sales push. Gentle persistence, not urgency.\n\nCUSTOMIZE BELOW: Add your business identity, service catalog, and examples relevant to your business."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2688,
        0
      ],
      "id": "8c89eb4b-906b-424f-b7d4-677b8c82ac65",
      "name": "Generate Message",
      "retryOnFail": false,
      "notesInFlow": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "SMS"
            },
            {
              "name": "contactId",
              "value": "={{ $('Build User Prompt').item.json.contact_id }}"
            },
            {
              "name": "message",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3a81a6bf-1938-4e75-8768-5281276f927f",
      "name": "Send Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GHL_CREDENTIAL_ID",
          "name": "GHL API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $('Build User Prompt').item.json.opportunity_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customFields\": [\n    {\n      \"id\": \"YOUR_LAST_SENT_FIELD_ID\",\n      \"field_value\": \"{{ $json.lastSentDate }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3488,
        0
      ],
      "id": "1c381069-f623-4728-bd64-a02fc17bf3fa",
      "name": "Update Last Message Sent Date",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GHL_CREDENTIAL_ID",
          "name": "GHL API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/conversations/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{ $vars.GHL_LOCATION_ID }}"
            },
            {
              "name": "contactId",
              "value": "={{ $json.contact_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "id": "aab45f62-c00d-4de0-87a8-35bb19e35333",
      "name": "Find Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GHL_CREDENTIAL_ID",
          "name": "GHL API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Simple UTC midnight calculation\nconst nowMs = Date.now();\nconst oneDayMs = 24 * 60 * 60 * 1000;\n\nconst midnightUTC = Math.floor(nowMs / oneDayMs) * oneDayMs;\n\n// Convert to YYYY-MM-DD\nconst date = new Date(midnightUTC);\nconst year = date.getUTCFullYear();\nconst month = String(date.getUTCMonth() + 1).padStart(2, '0');\nconst day = String(date.getUTCDate()).padStart(2, '0');\nconst lastSentDate = `${year}-${month}-${day}`;\n\nreturn {\n  json: {\n    ...($input.item.json),\n    lastSentDate: lastSentDate\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3264,
        0
      ],
      "id": "9f6acadb-8bfb-4d28-bd8a-95196766dac2",
      "name": "Calculate midnight UTC",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/opportunities/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location_id",
              "value": "={{ $vars.GHL_LOCATION_ID }}"
            },
            {
              "name": "pipeline_stage_id",
              "value": "YOUR_MONTHLY_STAGE_ID"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "startAfter",
                    "value": "={{ $response.body.meta?.startAfter || '' }}"
                  },
                  {
                    "name": "startAfterId",
                    "value": "={{ $response.body.meta?.startAfterId || '' }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body.meta || !$response.body.meta.startAfterId }}"
            }
          }
        }
      },
      "id": "16559c37-f5e4-433c-ac31-3e198d151015",
      "name": "Get Monthly Opportunites",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GHL_CREDENTIAL_ID",
          "name": "GHL API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get data from earlier nodes\nconst promptData = $('Build User Prompt').item.json;\nconst opportunity = $('Filter Opportunities by Date').item.json;\n\n// Field ID for entry_date\nconst ENTRY_DATE_FIELD_ID = 'YOUR_ENTRY_DATE_FIELD_ID';\n\n// Get entry_date from opportunity custom fields\nconst entryField = opportunity.customFields?.find(f => f.id === ENTRY_DATE_FIELD_ID);\nconst entryDate = entryField?.fieldValueDate;\n\n// Calculate days since entry (same logic as other dispatchers)\nconst ONE_DAY_MS = 24 * 60 * 60 * 1000;\nconst todayMidnightUTC = Math.floor(Date.now() / ONE_DAY_MS) * ONE_DAY_MS;\nconst daysSinceEntry = entryDate \n  ? Math.floor((todayMidnightUTC - entryDate) / ONE_DAY_MS)\n  : null;\n\nreturn {\n  timestamp: Date.now(),\n  contact_id: promptData.contact_id,\n  event_type: 'message_sent',\n  pipeline_stage: 'Monthly',\n  days_since_entry: daysSinceEntry,\n  weekday: new Date().toLocaleDateString('en-US', { weekday: 'long' })\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        0
      ],
      "id": "98226bdb-4f85-457c-9ef2-f0df19040624",
      "name": "Prepare Event Data"
    },
    {
      "parameters": {
        "content": "## Purpose\nSends long-term nurture messages to opportunities in **\"Monthly\"** pipeline on monthly intervals (30, 60, 90, 120, 150, 180+ days).\n\n## Execution Schedule\n⏰ **Every 30 minutes** from 9:25 AM - 5:55 PM  \n📊 Processes **up to 10 opportunities** per run (180 per day)\n\n## Data Flow\n### 1️⃣ Fetch & Filter\n- Query GHL for all opportunities in \"Monthly\" stage\n- Calculate days since `entry_date` field\n- Filter to only opportunities on message days (30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330, 360)\n- Deduplicate across pagination\n- Skip if already messaged today (via `last_message_sent` field)\n- Limit to 5 per execution\n\n### 2️⃣ Gather Context\n- **Contact details:** name, vehicle, service interest, packages\n- **Conversation history:** last 20 SMS messages\n- **Opportunity notes:** call summaries (cleaned of performance/follow-up sections)\n- **Current promo:** from `$vars.CURRENT_PROMO`\n\n### 3️⃣ Generate & Send\n- Build user prompt: customer info + promo + notes + conversation\n- GPT-5 creates low-pressure, \"top-of-mind\" message\n- **Tone:** Very casual, acknowledges time passed, no urgency\n- **Approach varies:** Direct interest reference, circumstantial change, promo mention, timing triggers\n- Send via GHL SMS API\n- Update `last_message_sent` to today's date (prevents duplicates)\n\n### 4️⃣ Logging\n- Insert event data into `nurture_evals` table for monitoring\n\n## Key Features\n✅ **Monthly intervals** - sends every 30 days (up to 1 year)  \n✅ **Cold lead tone** - low-pressure \"just in case\" messages  \n✅ **Varied approaches** - avoids repetitive messaging  \n✅ **Deduplication** prevents double-sends  \n",
        "height": 1024,
        "width": 592,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        240
      ],
      "typeVersion": 1,
      "id": "165971cb-e1a4-4860-a8c4-3b7e6690950e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "739b1a76-aaba-4980-add9-6e29fe078c67",
      "name": "Limit 10"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_DATATABLE_ID",
          "mode": "list",
          "cachedResultName": "nurture_evals",
          "cachedResultUrl": "/projects/YOUR_N8N_PROJECT_ID/datatables/YOUR_DATATABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "contact_id": "={{ $json.contact_id }}",
            "event_type": "={{ $json.event_type }}",
            "days_since_entry": "={{ $json.days_since_entry }}",
            "weekday": "={{ $json.weekday }}",
            "pipeline_stage": "={{ $json.pipeline_stage }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "days_since_entry",
              "displayName": "days_since_entry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pipeline_stage",
              "displayName": "pipeline_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "weekday",
              "displayName": "weekday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3936,
        0
      ],
      "id": "1e0d13f4-5088-4f28-9e6e-b74dd982452f",
      "name": "Insert into Evals"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Monthly Opportunites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Opportunity Notes": {
      "main": [
        [
          {
            "node": "Format Customer Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5-Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get SMS Messages": {
      "main": [
        [
          {
            "node": "Format Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Data": {
      "main": [
        [
          {
            "node": "Gather Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gather Customer Data": {
      "main": [
        [
          {
            "node": "Find Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Opportunities by Date": {
      "main": [
        [
          {
            "node": "Limit 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Conversation History": {
      "main": [
        [
          {
            "node": "Get Opportunity Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Customer Notes": {
      "main": [
        [
          {
            "node": "Build User Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build User Prompt": {
      "main": [
        [
          {
            "node": "Generate Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Message": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message": {
      "main": [
        [
          {
            "node": "Calculate midnight UTC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Conversation": {
      "main": [
        [
          {
            "node": "Get SMS Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate midnight UTC": {
      "main": [
        [
          {
            "node": "Update Last Message Sent Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Monthly Opportunites": {
      "main": [
        [
          {
            "node": "Filter Opportunities by Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Message Sent Date": {
      "main": [
        [
          {
            "node": "Prepare Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Event Data": {
      "main": [
        [
          {
            "node": "Insert into Evals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit 10": {
      "main": [
        [
          {
            "node": "Get Contact Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": ""
  }
}
